* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: hsl(229, 57%, 11%) url(/images/bg-mobile.png) bottom/cover
    no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
}

.fylo {
  background: hsl(228, 56%, 26%);
  padding: 2rem 4rem 2rem 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  border-top-right-radius: 45%;

  &__logo {
    margin-bottom: 1.5rem;
  }

  &__image-container {
    height: 3.5rem;
    background: hsl(229, 57%, 11%);
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  &__images {
    display: flex;
    flex-direction: row;
  }

  &__image {
    padding: 1rem;
  }
}

.storage {
  background: hsl(228, 56%, 26%);
  padding: 2rem;
  border-radius: 15px;
  position: relative;
  text-align: center;

  &__text {
    margin-bottom: 1rem;
  }

  &--bold {
    font-weight: 700;
  }

  &__min-max {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  &__progress-bar {
    height: 20px;
    width: 100%;
    background: hsl(229, 57%, 11%);
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  &__progress-used {
    background: linear-gradient(
      to right,
      hsl(6, 100%, 80%),
      hsl(335, 100%, 65%)
    );
    width: 81.5%;
    height: 70%;
    border-radius: 10px;
    margin-left: 0.1rem;
    position: relative;

    &::after {
      content: "";
      height: 12px;
      width: 12px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      right: 3px;
      top: 1px;
    }
  }

  &__remaining {
    background: hsl(243, 100%, 93%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -110px;
    left: 50%;
    padding: 1rem 2rem;
    color: hsl(229, 57%, 11%);

    &-text {
      text-transform: uppercase;
      color: hsl(229, 7%, 55%);
      padding-left: 0.5rem;
    }
  }

  &--lg-text {
    font-size: 3rem;
    font-weight: 700;
  }
}

@media (min-width: 850px) {
  body {
    flex-direction: row;
    background: url(/images/bg-desktop.png) bottom/contain no-repeat
      hsl(229, 57%, 11%);
  }

  .container {
    flex-direction: row;
    align-items: flex-end;
    max-width: 1000px;
  }

  .fylo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 2rem;
    margin-bottom: 0;
    height: 200px;
  }

  .storage {
    width: 40rem;
    text-align: left;

    &__remaining {
      right: 5%;
      bottom: 91%;
      left: auto;
      padding: 1rem 1.5rem;
      border-bottom-right-radius: 0;
      margin-left: 0;

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 36px solid transparent;
        border-right: 0px solid transparent;
        border-top: 32px solid hsl(243, 100%, 93%);
        position: absolute;
        top: 100%;
        right: 0;
      }
    }
  }
}
